{% layout "layout.liquid" %} {% block content %}
<form action="/manufacturers/{{manufacturer._id}}/cars/{{manufacturer.cars[0]._id}}?_method=PUT" method="post">
    <fieldset>
      <legend>Edit {{manufacturer.cars[0].name}}</legend>
      <label>
        NAME:<input type="text" name="name" placeholder="enter model name" value="{{manufacturer.cars[0].name}}" />
      </label>
      <label>
        Image:<input type="text" name="img" placeholder="enter image link here" value="{{manufacturer.cars[0].img}}" />
      </label>
      <label>
        Year:<input type="number" name="year" placeholder="enter year here" value="{{manufacturer.cars[0].year}}" />
      </label>
      <label>
        Price:<input type="number" name="price" placeholder="enter price here" value="{{manufacturer.cars[0].price}}" />
      </label>
      <label>
        Horsepower:<input type="number" name="seats" placeholder="enter horsepower here" value="{{manufacturer.cars[0].hp}}" />
      </label>
      <label>
        Seats:<input type="number" name="seats" placeholder="enter number of seats" value="{{manufacturer.cars[0].seats}}" />
      </label>
    </fieldset>
    <input type="submit" value=" Submit edits to model" />
  </form>
</div>
{% endblock %}