{% layout "layout.liquid" %} {% block content %}
<div>
    <article>
    <h2>
        {{manufacturer.cars[index].name}}
    </h2>
    <img src={{manufacturer.cars[index].img}}>
    </a>
    <a href="/manufacturers/{{manufacturer._id}}/cars/{{manufacturer.cars[0]._id}}/edit"><button>Edit</button></a>
    <form action="/manufacturers/{{ manufacturer._id }}?_method=DELETE" method="POST">
        <input type="submit" value="Delete" />
    </form>
    <a href="/manufacturers/{{manufacturer._id}}"><button>Back to {{manufacturer.name}}'s Page</button></a>
    </article>
</div>
{% endblock %}